body{
  background: url('../img/dali.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin:0;
  line-height: 1.48;
  font-family: 'Oswald',impact,sans-serif;
  color: #1E1E20;
}

#wrapper{
  margin-top: 0;
  max-width: 600px;
  background-color: #E7E7DB;
  margin: auto;
  box-sizing: border-box;
  padding: 0 20px 20px;
}

h1{
  color: #DF0901;
  font-size: 72px;
  text-transform: uppercase;
  margin-bottom: .5em;
}

h2{
  font-size: 36px;
  text-transform: uppercase; 
  margin-bottom: 1em;
}

form label, form input[type=submit]{
  display: block;
  font-size: 16px;  
  font-family: 'Oswald',impact,sans-serif;
}

form input[type=text]{
  margin-bottom: 1em;
}